.App {
  text-align: center;
}

* {
background-color: rgba(165, 165, 158, 0.671);
color: white;
text-decoration:gray;
}

#wrapper {
  border-image: url(https://images.unsplash.com/photo-1533738363-b7f9aef128ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2F0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1600&q=60) 20 fill;

  padding: 30%;
}

h1 {
  border-style: ridge;
  border-width: 10px;
}


p {
  width: 75%;
  text-align: center;
  margin: auto;
}